@charset "utf-8";

$branding-blue: #0693e3;
$branding-grey: #363538;

$backgroundColor: #ffffff;
$bodyColor: #ffffff;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

$branding-font: default;

@import
  "dotbunny/base",
  "dotbunny/layout"
;
